APP_ENV=development
APP_PORT=8090

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgress
DATABASE_PASSWORD=
DATABASE_NAME=user_service
DATABASE_SSL_MODE=disable
DATABASE_MAX_OPEN_CONNECTIONS=10
DATABASE_MAX_IDLE_CONNECTIONS=5

SEED_ADMIN_NAME=admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=